/* Tablet */
@media (max-width:1000px) {
  .col-25, .col-75, input[type=submit] {
    width: 90%;
    margin-top: 0;
  }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Smartphone */
@media (max-width:670px) {
  .navbar-right {
    display: none;
  }

  .header span{
    display: block;
  }

   .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}